$headerBgr: url('../img/header_background_v1.jpg');
$header-main-clr: rgb(255,255,255);
$main-clr: rgb(1,172,172);
$main2-clr: rgb(0,162,192);
$maintext-clr: rgb(0,0,0);
$fonts: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$post-dcr-clr: rgb(255,34,34);
$article-bgr: rgb(235,240,237);
$border-clr: rgb(96,125,139);
