$headerBgr: url('../img/header_background_v2.jpg');
$header-main-clr: rgb(255,87,34);
$main-clr: rgb(4,1,172);
$main2-clr: rgb(96,125,139);
$maintext-clr: rgb(117,117,117);
$fonts: normal 18px/26px Palation Linotype, Book Antiqua, Palatino, serif;
$post-dcr-clr: rgb(189,195,212);
$article-bgr: rgb(255,255,255);
$border-clr: rgb(207, 216, 220);